@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&family=Volkhov:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  body {
    position: relative;
    background: url('../images/decore.svg') no-repeat top right,
      url('../images/blur-effect.svg') no-repeat top left;
  }
  .subscribe {
    background: url('../images/subscribe-pattern-right.svg') no-repeat top right,
      url('../images/subscribe-pattern-bottom.svg') no-repeat bottom left;
    background-color: hsla(254, 74%, 91%, 0.2);
  }
}
